thead {
  color: black;
  font-size: 30px;
  text-decoration: underline #ff3c56;
  border-bottom: #c0c0c0 solid 1px;
  font-family: "Indie Flower", cursive;
}
td {
  border-bottom: #c0c0c0 dotted 1px;
  background: url(src/assets/images/aro.gif) no-repeat left 18px;
  padding-top: 4px;
  font-family: "Source Code Pro", monospace;
}
h1 {
  font-family: "Indie Flower", cursive;
  border-bottom: #c0c0c0 solid 1px;
  padding-top: 30px;
  color: black;
  text-decoration: underline #ff3c56;
  font-size: 30px;
}
.table td,
.table th {
  padding: 0.2rem;
}
.last{
  transform: translateY(-18px)
}
.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}


