<div class="cart-sidebar">
  <div class="cart-sidebar-header">
    <h5>
      My Cart <span class="text-info">(5 item)</span> <a data-toggle="offcanvas" class="float-right" (click)="onNoClick()" ><i class="fas fa-times"></i>
      </a>
    </h5>
  </div>
  <div class="cart-sidebar-body">
    <div class="cart-list-product">
      <a class="float-right remove-cart" ><i class="fas fa-times"></i></a>
      <img class="img-fluid" src="assets/images/1.jpg" alt="">
      <span class="badge badge-success">50% OFF</span>
      <h5><a >Floret Printed Ivory Skater Dress</a></h5>
      <div class="stars-rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i> <span>613</span></div>
      <p class="f-14 mb-0 text-dark float-right">$135.00 <del class="small text-secondary">$ 500.00 </del></p>
      <span class="count-number float-left">
        <button class="btn btn-outline-secondary  btn-sm left dec"> <i class="fas fa-minus"></i></button>
        <input class="count-number-input" type="text" value="1" readonly="">
        <button class="btn btn-outline-secondary btn-sm right inc"> <i class="fas fa-plus"></i>
        </button>
      </span>
    </div>
    <div class="cart-list-product">
      <a class="float-right remove-cart" ><i class="fas fa-times"></i></a>
      <img class="img-fluid" src="assets/images/2.jpg" alt="">
      <span class="badge badge-danger">55% OFF</span>
      <h5><a >Floret Printed Ivory Skater Dress</a></h5>
      <div class="stars-rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i> <span>613</span></div>
      <p class="f-14 mb-0 text-dark float-right">$250.00 <del class="small text-secondary">$ 500.00 </del> <span
          class="bg-info rounded-sm pl-1 ml-1 pr-1 text-white small">NEW</span> </p>
      <span class="count-number float-left">
        <button class="btn btn-outline-secondary  btn-sm left dec"> <i class="fas fa-minus"></i> </button>
        <input class="count-number-input" type="text" value="1" readonly="">
        <button class="btn btn-outline-secondary btn-sm right inc"> <i class="fas fa-plus"></i>
        </button>
      </span>
    </div>
    <div class="cart-list-product">
      <a class="float-right remove-cart" ><i class="fas fa-times"></i></a>
      <img class="img-fluid" src="assets/images/3.jpg" alt="">
      <span class="badge badge-info">NEW</span>
      <h5><a >Floret Printed Ivory Skater Dress</a></h5>
      <div class="stars-rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i> <span>613</span></div>
      <p class="f-14 mb-0 text-dark float-right">$900.00 <del class="small text-secondary">$ 500.00 </del> <span
          class="bg-danger  rounded-sm pl-1 ml-1 pr-1 text-white small"> 50% OFF</span> </p>
      <span class="count-number float-left">
        <button class="btn btn-outline-secondary  btn-sm left dec"> <i class="fas fa-minus"></i> </button>
        <input class="count-number-input" type="text" value="1" readonly="">
        <button class="btn btn-outline-secondary btn-sm right inc">
            <i class="fas fa-plus"></i>

        </button>
      </span>
    </div>
    <div class="cart-list-product">
      <a class="float-right remove-cart" ><i class="fas fa-times"></i></a>
      <img class="img-fluid" src="assets/images/4.jpg" alt="">
      <span class="badge badge-danger">NEW</span>
      <h5><a >Floret Printed Ivory Skater Dress</a></h5>
      <div class="stars-rating"><i class="fas fa-star"></i><i class="icofont icofont-star active"></i><i class="fas fa-star"></i><i class="icofont icofont-star active"></i><i class="far fa-star"></i> <span>613</span></div>
      <p class="f-14 mb-0 text-dark float-right">$135.00 <del class="small text-secondary">$ 500.00 </del> <span
          class="bg-danger  rounded-sm pl-1 ml-1 pr-1 text-white small"> 50% OFF</span> </p>
      <span class="count-number float-left">
        <button class="btn btn-outline-secondary  btn-sm left dec"> <i class="fas fa-minus"></i>   </button>
        <input class="count-number-input" type="text" value="1" readonly="">
        <button class="btn btn-outline-secondary btn-sm right inc"> <i class="fas fa-plus"></i> </button>
      </span>
    </div>
    <div class="cart-list-product">
      <a class="float-right remove-cart" ><i class="fas fa-times"></i></a>
      <img class="img-fluid" src="assets/images/5.jpg" alt="">
      <span class="badge badge-info">NEW</span>
      <h5><a >Floret Printed Ivory Skater Dress</a></h5>
      <div class="stars-rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i> <span>613</span></div>
      <p class="f-14 mb-0 text-dark float-right">$135.00 <del class="small text-secondary">$ 500.00 </del> <span
          class="bg-danger  rounded-sm pl-1 ml-1 pr-1 text-white small"> 50% OFF</span> </p>
      <span class="count-number float-left">
        <button class="btn btn-outline-secondary  btn-sm left dec"> <i class="fas fa-minus"></i> </button>
        <input class="count-number-input" type="text" value="1" readonly="">
        <button class="btn btn-outline-secondary btn-sm right inc"> <i class="fas fa-plus"></i>
          
        </button>
      </span>
    </div>
  </div>
  <div class="cart-sidebar-footer">
    <div class="cart-store-details">
      <p>Sub Total <strong class="float-right">$900.6</strong></p>
      <p>Delivery Charges <strong class="float-right text-danger">+ $29.6</strong></p>
      <h6>Your total savings <strong class="float-right text-danger">$55 (42.31%)</strong></h6>
    </div>
    <button (click)="openDialog()" class="btn btn-primary btn-lg btn-block text-left" type="button"><span
        class="float-left"><i class="icofont icofont-cart"></i> Proceed to Checkout </span><span
        class="float-right"><strong>$1200.69</strong> <span class="icofont icofont-bubble-right"></span></span></button>
    <br><br>
  </div>
</div>
