<div class="container">
  <div class="row">
    <div class="col-md-6  ">
      
      <b>
        <h1>Join Us</h1>
      </b>
      <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of
        the
        orders you have previously made.</p>
      <form #userForm="ngForm">
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="First Name" required>
          </mat-form-field>
        </div>
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Last Name" required>
          </mat-form-field>
        </div>
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Enter your email" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div>
          <label>I am : </label>
          <mat-radio-group>
            <mat-radio-button value="female">female </mat-radio-button>
            <mat-radio-button value="male">male </mat-radio-button>
          </mat-radio-group>
        </div>
        <button class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-md-6">
        <button type="button" class="close" aria-label="Close" (click)="onNoClick()">
            <span aria-hidden="true">&times;</span>
          </button>
      <div style="text-align: center;">
        <img id="photo" src="assets/images/logo.png">
      </div>
    </div>
  </div>

</div>
