<div class="container">

  <img id="photo" src="assets/images/logo.png">
  <!-- <i class="fas fa-shopping-cart"></i> -->
  <nav class="navbar navbar-expand-lg navbar-light ">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-brand">Chpoee</span>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <span class="nav-link"> <button mat-raised-button routerLink="/home" >Home</button> </span>
        </li>
        <li class="nav-item active">
          <span class="nav-link"><button mat-raised-button routerLink="/home/newproduct"> New Product </button></span>
        </li>
        <li class="nav-item active">
          <span class="nav-link "> <button mat-raised-button (click)="openDialog1()">My Cart </button> </span>
        </li>
        <li class="nav-item active">

          <span class="nav-link "> <button mat-raised-button (click)="openDialog()">Sign up</button> </span>
        </li>

      </ul>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline my-2 my-sm-0  " type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>
<!-- <router-outlet></router-outlet> -->
