<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> -->
<div class="container ">
  <div class="row">
    <div class="col-md-6">
      <br><br>
      <h1 class="titre"><b>Welcome to <span>Chpoee</span> store</b>
      </h1>
      <div class="container">
        <br>
        <p>Shoppica is a stylish premium OpenCart theme (currently supported versions are 1.4.9.3/1.4.9.4). The clean
          and
          modern design allows you to use the theme for every kind of online shop: clothes, accessories, gifts,
          electronics, furniture, health and cosmetics store and so on.
          One of the main features is to choose different types of slideshows for every category, so you can
          personalise
          every part of your store. Shoppica allows you to customize product listing size, column position and layout
          type, giving you the power to easy adapt the theme to your produc or service. With the color themer tool you
          can
          change site's elements and make your store unique and stand out of the crowd.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container1" id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
          <li data-target="#demo" data-slide-to="3"></li>
          <li data-target="#demo" data-slide-to="4"></li>

        </ul>
        
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/images/pic_1.jpg" alt="Los Angeles" width="1100" height="500">
            </div>
            <div class="carousel-item">
              <img src="assets/images/pic_2.jpg" alt="Chicago" width="1100" height="500">

            </div>
            <div class="carousel-item">
              <img src="assets/images/pic_3.jpg" alt="New York" width="1100" height="500">

            </div>
            <div class="carousel-item">
              <img src="assets/images/pic_4.jpg" alt="Chicago" width="1100" height="500">

            </div>
            <div class="carousel-item">
              <img src="assets/images/pic_5.jpg" alt="Chicago" width="1100" height="500">

            </div>
          </div>
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
    </div>
  </div>
</div>
