/* Make the image fully responsive */
.carousel-inner img {
  width: 80%;
  height: 80%;
}
.container1 {
  padding-left: 1700px !important;
}
.titre {
  font-size: 30px;
  text-align: center;
  /* background-color: rgba(146, 67, 67, 0.678); */
  font-family: "Source Code Pro", monospace;
  color: black;
  text-decoration: underline  ; 
}
span {
  font-family: "Indie Flower", cursive;
  color: #ff3c56;
  font-size: 30px;
  
}
.container {
  border-color: #ff3c56;
}
