/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
.form-control.ng-invalid.ng-touched{
    border: 1px solid #dc3737 ; 
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
